<!DOCTYPE html>
<html>

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <style>
    body {
      background: black;
      font-family: 'Tahoma, Geneva, sans-serif';
    }
  </style>

</head>

<body>
  <div id="gameContainer"></div>
  <button type="button" onclick="window.game.room.send({data: 'start'})">Start</button>
</body>

</html>
